<% include header %>
<% include navBar %>

<div class = "container">
	<div class = "row">
  <% if (courses.length) { %>
    <% courses.forEach(function(entry) { %>
    <div class="col-sm-4">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading"><a href = "\courses\<%= entry.CRN %>"><%= entry.CRN %></a></div>
          <div class="panel-body"><img src="pics\<%= entry.title %>.jpeg" alt="Course-1" style="width:304px;height:228px;"></div>
          <div class="panel-footer"><%= entry.title %></a></div>
        </div>
      </div>
    </div>
    <% }) %>
  <% } %>	
		
	</div>
</div>

<% include footer %>