

<% include header %>

<div class = "container-fluid">
<div class = "page-header">
<h2 style = "text-align: center;">Admin Login</h2>
</div>
<div class = "row">
<div class = "col-sm-4">
</div>

<div class = "col-sm-4">
<h4>sign in to continue</h4>
<form action = "/" method = "post">
<div class = "jumbotron">
<div class="form-group">
<label for="userId">User ID:</label>
<input type="text" class="form-control" id="userId" placeholder="Enter UserId" name = "userId">
</div><br>

<div class="form-group">
<label for="pwd1">Password:</label>
<input type="password" class="form-control" id="pwd" placeholder="Enter password" name = "pwd">
</div><br>
<div class = "row">
<div class = "col-sm-4"></div>
<div class = "col-sm-4"><input type="submit" class="btn btn-primary" value = "Login" name = "submit"></div>
</div>
<p style="font-size:100%;">Forgot Password? <a href = "\forgotPassword">click here</a></p>
</div>
</form>
</div>

<div class = "col-sm-4">
</div>

</div>  
</div>


<% include footer %>