<% include header %>
<% include navBar %>

<div class = "container">
	<div class = "row">
		<div class="col-sm-4">
      		<div class="panel-group">
    			<div class="panel panel-info">
      				<div class="panel-heading"><a href = "/courses">Courses</a></div>
      				<div class="panel-body"><img src="pics\books.jpg" alt="Courses" style="width:304px;height:228px;"></div>
    			</div>
    		</div>
		</div>
		<div class="col-sm-4">
      		<div class="panel-group">
    			<div class="panel panel-info">
      				<div class="panel-heading"><a href = "/students">Student</a></div>
      				<div class="panel-body"><img src="pics\student.jpg" alt="Students" style="width:304px;height:228px;"></div>
    			</div>
    		</div>
		</div>
		<div class="col-sm-4">
      		<div class="panel-group">
    			<div class="panel panel-info">
      				<div class="panel-heading"><a href = "/qr">QR</a></div>
      				<div class="panel-body"><img src="pics\qr.png" alt="QR" style="width:304px;height:228px;"></div>
    			</div>
    		</div>
		</div>
	</div>
</div>

<% include footer %>